.academy {
  font-family: @lato;
  .font-sizes(16px; 20px; 400);
}

.academy__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #444444;
  text-decoration: none;
  fill: #666666;

  &:hover svg {
    fill: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    gap: 23px;
  }
}

.academy__text {
  max-width: 115px;
}
