.button {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  font-family: @oswald;
  .font-sizes(16px; 20px; 400);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background-color: @basic-green;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: @secondary-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
