.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.main-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

.main-footer__academy {
  width: 100%;
}
