.page-title {
  margin: 0;
  font-family: @oswald;
  .font-sizes(36px; 36px; 400);

  @media (min-width: @tablet-width) {
    .font-sizes(60px; 60px; 400);
  }
}

.page-title--catalog {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 84px;
  }
}

.page-title--form {
  margin-bottom: 37px;
}
