.sending-form {
  display: flex;
  flex-direction: column;
}

.sending-form__fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.sending-form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.sending-form__legend {
  .font-sizes(24px; 26px; 400);
  padding: 0;
  margin: 0;
  font-family: @oswald;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font-sizes(36px; 36px; 400);
  }
}

.sending-form__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.sending-form__list--cat-data {
  gap: 14px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    gap: 20px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.sending-form__list--radio {
  padding-top: 22px;
  padding-bottom: 19px;
  gap: 13px;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 23px 27px 27px 0;
  }
}

.sending-form__list--owner-data {
  padding-top: 35px;
  padding-bottom: 24px;
  gap: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 70px;
  }
}

.sending-form__list--radio::before {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
  content: "";

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.sending-form__list--radio::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
  content: "";

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.sending-form__list--checkbox {
  gap: 12px;
  padding-top: 34px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 0;
    padding-top: 57px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 325px 325px 325px 245px;
    gap: 0;
    padding-bottom: 60px;
  }
}

.sending-form__item {
  .font-sizes(16px; 18px; 400);
  font-family: @oswald;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-sizes(20px; 30px; 400);
  }
}

.sending-form__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.sending-form__radio {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-left: 87px;
    padding-bottom: 5px;
  }
}

.sending-form__radio-mark {
  position: absolute;
  top: -6px;
  left: -45px;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.sending-form__checkbox {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-left: 60px;
    padding-bottom: 5px;
  }
}

.sending-form__checkbox-mark {
  position: absolute;
  top: -5px;
  left: -45px;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.sending-form__label {
  position: relative;
  width: max-content;
}

.sending-form__control {
  .font-sizes(16px; 18px; 400);
  box-sizing: border-box;
  min-height: 45px;
  width: 1em;
  padding: 13px 15px 12px;
  border: 1px solid #e7e7e7;
  font-family: @oswald;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-sizes(20px; 30px; 400);
  }
}

.sending-form__control--text {
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    padding: 10px 19px;
  }
}

.sending-form__control--text::-webkit-inner-spin-button,
.sending-form__control--text::-webkit-outer-spin-button {
  appearance: none;
}

.sending-form__control--textarea {
  width: 100%;
  min-height: 150px;
  padding: 14px;
  margin-top: 38px;
  margin-bottom: 23px;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 175px;
    padding: 10px 19px;
    margin-top: 87px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 78px;
  }
}

.sending-form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
  }
}

.sending-form__button {
  margin: 0 0 21px;

  @media (min-width: @tablet-width) {
    .font-sizes(20px; 26px; 400);
    width: 284px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.sending-form__info {
  .font-sizes(14px; 16px; 400);
  text-align: center;
  font-family: @lato;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font-sizes(16px; 16px; 400);
    justify-self: start;
  }
}
