.show-more-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
}

.show-more-card__title {
  padding: 0;
  margin: 0;
  font-family: @oswald;
  .font-sizes(16px; 20px; 400);
  color: #111111;
  text-transform: uppercase;
}

.show-more-card__description {
  margin: 8px 0 21px 0;
  font-family: @lato;
  .font-sizes(12px; 16px; 400);
  color: #444444;
}

.show-more-card__button {
  align-self: stretch;
  color: #444444;
  background-color: #f2f2f2;
}
